.navbar{
    font-family: 'sans-serif', sans-serif;
    position: fixed;
    width: 100%;
    background: #353535;
    z-index: 99999999999999999999;
    left: 0rem;
    top: 0rem;
    height: 55px;
}

.navitem{
    float: left;
    display: block;
    color: #f2f2f2 !important;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none !important;
    border-bottom: 2px solid transparent;
    font-size: 14px;
    font-family: 'sans-serif', sans-serif;
}

.navitem:hover{
    background-color: #333;
    color: #ff4b4b !important;
    height: 55px !important;
}


.settings{
    height:1rem;
}

div[position="relative"]{
    background-color: #333;
}

div[data-testid="stExpander"]{
    background-color: #F0F2F6;
    /*border-radius: 22px;
    border-style: solid;
    overflow: hidden !important;
    border-width: 1px;
    margin: 0em 0em 0em 0em;*/
}

iframe{
    border-radius:22px;
}

div[role="button"]{
    font-family: 'sans-serif', sans-serif !important;
    font-size: 16px;
}

h6{
    font-family: 'sans-serif', sans-serif !important;
    font-size: 14px;
}

h1{
    font-family: 'sans-serif', sans-serif !important;
}