
.settings{
    height:1rem;
}

div[position="relative"]{
    background-color: #333;
}

div[data-testid="stExpander"]{
    background-color: #F0F2F6;
    /*border-radius: 22px;
    border-style: solid;
    overflow: hidden !important;
    border-width: 1px;
    margin: 0em 0em 0em 0em;*/
}

iframe{
    /*border-radius:22px;*/
}

div[role="button"]{
    font-family: 'sans-serif', sans-serif !important;
    font-size: 16px;
}

h6{
    font-family: 'sans-serif', sans-serif !important;
    font-size: 14px;
}

h1{
    font-family: 'sans-serif', sans-serif !important;
}

table{
    font-family: 'sans-serif', sans-serif !important;
    font-size: 0.7vw;
    text-align: right !important;
    right: -15;
}